// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define RAISE 1
#define LOWER 2
#define MOUSE 3

/ {
    combos {
        compatible = "zmk,combos";

        toRise {
            bindings = <&sl 1>;
            key-positions = <31 32>;
        };

        toLower {
            bindings = <&sl 2>;
            key-positions = <33 30>;
        };

        repeat {
            bindings = <&key_repeat>;
            key-positions = <4 5>;
        };

        allLeftControl {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <13 12>;
        };

        allRightCommand {
            bindings = <&sk RIGHT_COMMAND>;
            key-positions = <16 17>;
        };

        btClear {
            bindings = <&bt BT_CLR>;
            key-positions = <8 9>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 1>;
        };

        to0 {
            bindings = <&to 0>;
            key-positions = <13 16>;
            layers = <0 1 2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp W  &kp F  &kp P                  &kp G          &kp J        &kp L                    &kp U      &kp Y    &kp SEMI
&kp A  &kp R  &kp S  &kp T                  &kp D          &kp H        &kp N                    &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C  &kp V                  &kp B          &kp K        &kp M                    &kp COMMA  &kp DOT  &kp QUESTION
                     &mt LEFT_SHIFT ESCAPE  &lt 1 SPACE    &lt 2 ENTER  &mt RIGHT_ALT BACKSPACE
            >;
        };

        rise {
            bindings = <
&kp EXCLAMATION    &kp AT_SIGN      &kp HASH           &kp DOLLAR             &kp PERCENT         &kp CARET      &kp AMPERSAND   &kp ASTERISK  &kp PIPE        &kp TILDE
&kp DOUBLE_QUOTES  &kp LEFT_BRACE   &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS   &kp LESS_THAN       &kp SLASH      &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
&kp SINGLE_QUOTE   &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN    &kp BACKSLASH  &kp MINUS       &kp PLUS      &kp EQUAL       &kp UNDERSCORE
                                                       &kp GRAVE              &kp CAPSLOCK        &kp DELETE     &to 2
            >;
        };

        lower {
            bindings = <
&kp C_VOLUME_UP    &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &sk LS(LEFT_CONTROL)    &kp DOT          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp RS(RG(NUMBER_3))
&kp C_VOLUME_DOWN  &kp RC(RS(TAB))     &kp LG(TAB)       &kp RC(TAB)          &sk LS(LEFT_COMMAND)    &kp MINUS        &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp RS(RG(NUMBER_4))
&trans             &kp LA(LEFT_ARROW)  &trans            &kp LA(RIGHT_ARROW)  &kp RG(RS(Z))           &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp RS(RG(NUMBER_5))
                                                         &to 3                &kp TAB                 &kp BACKSPACE    &kp ENTER
            >;
        };

        mouse {
            bindings = <
&none  &none           &mmv MOVE_UP    &none            &none        &none      &none           &msc SCRL_UP    &none            &none
&none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none        &none      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none
&none  &none           &none           &none            &none        &none      &none           &none           &none            &none
                                       &none            &mkp LCLK    &mkp RCLK  &none
            >;
        };
    };
};
